*, *:before, *:after {
	box-sizing: inherit;
}

.checkout-button {
		padding:5px 25px;
    background:#d20c02;
    border:0 none;
    cursor:pointer;
		color: #fff;
		font-weight: bold;
		box-shadow: 1px 1px 2px 1px #808080;
		// margin-right: 45px;
}

.checkout-button:hover {
	color: #808080;
	transition: 0.1s;
}

.cart-checkout-button {
	display: table;
	margin: 10px auto;
	//float: right;

}

.cartCount {
	display: inline-block;
	margin: 10px auto;
  margin-left: 30px;
	width: 100%;
  padding: 15px;
}
.cart_info {
	display: inherit;
  margin: 20px 40px;
}
.watchImg {
	width: 230px;
  margin: 0 auto;
}
.name, .price  {
	margin: 10px 20px 15px 10px;
	display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
	color: gray;
}
.total {
	display: block;
}
.countTotalItems, .cart-total-price {
  font-size: 18px;
  font-weight: 400;
	margin-bottom: 5px;
}
