*, *:before, *:after {
	box-sizing: inherit;
}

.item {
	margin: 0 auto;
	padding: 20px;
}
.specs {
// width: 550px;
font-size: 10px;
padding: 10px;
margin-top: 35px;
float: right;
border-left: 1px solid #dcdcdc;
}

.spec {
margin: 8px;
}

.desc {
	font-size: 18px;
	text-align: justify;
	margin: 10px;
	color: #808080;
}

.watch-name {
	font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
	color: #808080;
}

.item-image{
				display: inline-flex;
				overflow: hidden;
        border-radius: 2px 2px 0 0;
        max-height: 450px;
.img {
cursor:zoom-in;
						margin: auto;
						width: 30%;
            height: auto;
            transition: transform 300ms ease-in;
            transform: scale(0.8);
            &:hover{
                transform: scale(1.2);
            }
					}
}
.text {
	// display: block;
  font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.02em;
	width: 420px;
	line-height: 1.4em;
	color: #808080;
}

.category {
	font-size: 20px;
	font-weight: lighter;
	color: #808080;
}

.item-price {
	color: #808080;
	font-size: 18px;
	text-align: right;

}

.description {
	display: table;
	margin: 45px auto;
  padding: 10px;
}

.addToCart {
    padding:5px 10px;
    background:#d20c02;
    border:0 none;
    cursor:pointer;
		color: #fff;
		font-weight: bold;
		box-shadow: 1px 1px 2px 1px #808080;
		float: right;
		margin-right: 45px;
}

.addToCart:hover {
	color: #808080;
}
