<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
		<div id="root"></div>
  </body>
</html>
